<tr>
    <td><%= blog.title %></td>
    <td>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</td>
    <td><%= blog.body.truncate(100) %></td>
    <td>
    <div><%= link_to '[Show]', blog %></div>
    <div><%= link_to '[Edit]', edit_blog_path(blog) %></div>
    <div><%= link_to '[Destroy]', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </td>
</tr>