<% if !current_user.is_a? GuestUser%>
    <%= form_with model: @comment, url:'#', local:true, id: "new_comment"  do |f|%>
        <div class="create_new_comment"> 
            <div class="user_avatar">
		 		<img src="<%=random_lego_logo current_user%>">
		 	</div><div class="input_comment">
                <%= f.text_field :content, placeholder:"Join the conversation.." %>
            </div>
        </div>
        <%= f.submit 'Post Comment', id: "submit_button", class: 'sr-only', data: {disable_with: false} %>
    <%end%>
<%else%>
    <div class="create_new_comment">

    <!-- current #{user} avatar -->
    <div class="user_avatar">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
    </div><!-- the input field --><div class="input_comment">
        <a type="text" href="<%=new_user_session_path%>" class="input">
           <input type="text" placeholder="Join the conversation..">
        </a>
    </div>

    </div>
<%end%>