  <div class="new_comment">

  <!-- build comment -->
  <ul class="user_comment">

    <!-- current #{user} avatar -->
    <div class="user_avatar">
      <img src=<%=random_lego_logo%>  >
    </div><!-- the comment body --><div class="comment_body">
      <p><%=comment.content%></p>
    </div>

    <!-- comments toolbar -->
    <div class="comment_toolbar">

      <!-- inc. date and time -->
      <div class="comment_details">
        <ul>
          <li><i class="fa fa-clock-o"></i> <%=comment.created_at.strftime("%I:%M %p")%></li>
          <li><i class="fa fa-calendar"></i> <%=comment.created_at.strftime("%m/%d/%Y")%> </li>
          <li><i class="fa fa-user"></i> <span class="user"><%=comment.user.name%></span></li>
        </ul>


    </div>

  </ul>

  </div>