<%= render :layout => '/portfolios/shared/portfolio_wrapper' do %>
    <div class="container portfolio-container" style="margin-bottom: 15rem;">
    <div class="card portfolio-view">
        <div class="row">
            <div class="col-md-7 portfolio-image">
                <%= image_tag @portfolio_item.main_image.to_s %>
            </div>
            <div class="col-md-5">
                <h1><%= @portfolio_item.title %></h1>
                <em><%= @portfolio_item.subtitle %></em>

                <%if @portfolio_item.project_url%>
                    <br />
                    <%=link_to @portfolio_item.project_url, class: "badge badge-secondary", target: "_" do%>
                    <%=fa_icon "external-link"%>
                    Project
                    <%end%>
                <%end%>

                <p><%= @portfolio_item.body %></p>

                <% @portfolio_item.technologies.each do |t| %>
                    <span class="badge badge-pill badge-dark"><%= t.name.upcase %></span>
                <% end %>
            </div>
        </div>
    </div>
    </div>
<% end %>