<div id="header" class="<%= location%>">
    <div class="logodiv">
        <img class="logo" src="<%=asset_url("logo.svg", type: :image)%>" /></a>

        <div class="filter">
        <%= link_to "HOME", root_path %>

        <span class="footdogs">  / </span>
        <b><%= link_to "[BLOG]", blogs_path %></b>

        <span class="footdogs">  / </span>
        <%= link_to "PORTFOLIO", portfolios_path %>

        <span class="footdogs">  / </span>
        <%= link_to "ABOUT", about_path %>

        <span class="footdogs">  / </span>
        <%= link_to "CONTACT", contact_path %>

        </div>
        <div class="filter">

            <%= login_helper %>
        </div>
    </div>
</div>