<div id="header" class="<%= location%>">
    <div class="logodiv">
        <img class="logo" src="<%=asset_url("logo.png", type: :image)%>" /></a>

        <div class="filter">
        <%= link_to "HOME", root_path %>

        <span class="footdogs">  / </span>
        <%= link_to "BLOG", blogs_path %>

        <span class="footdogs">  / </span>
        <%= link_to "PORTFOLIO", portfolios_path %>

        <span class="footdogs">  / </span>
        <%= link_to "ABOUT ME", about_path %>

        <span class="footdogs">  / </span>
        <%= link_to "CONTACT", contact_path %>

        </div>
        <div class="filter">
            <%= login_helper %>
        </div>
    </div>
</div>