<!DOCTYPE html>
<html>
  <head>
    <title> <%=@page_title%> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%=@seo_keywords%>"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <%= render "shared/nav", location:"header" %>
    <div id="page">
    <%if notice%>
    <p class="notice"><%= notice %></p>
    <%end%>
    <%if alert%>
    <p class="alert"><%= alert %></p>
    <%end%>
    <%= yield %>
    <p>
    <%=@copyright%>
    </p>
    <hr>
      <p><%= "Thanks for visiting me from #{session[:source]}" if session[:source]%></p>
      </div>
  </body>
</html>
